/* begin Page */
/* Created by Artisteer v3.0.0.45570 */

body, table
{
    color: #11181C;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

li,
table,
a,
a:link,
a:visited,
a.visited,
a:hover,
a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

a
{
  text-decoration: none;
  color: #518BB1;
}

a:link
{
  text-decoration: none;
  color: #518BB1;
}

a:visited, a.visited
{
  color: #4C6A79;
}

a:hover, a.hover
{
  color: #3D6A87;
}

h1
{
   color: #3D6A87;
   margin: 21px 0;
}

h2
{
   color: #3D6A87;
   margin: 19px 0;
   font-size: 24px;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
   font-size: 24px; 
}

h3
{
   color: #4C6A79;
   margin: 19px 0;
   font-size: 19px;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
   font-size: 19px;
}

h4
{
   color: #233137;
   margin: 20px 0;
   font-size: 16px;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
   font-size: 16px;
}

h5
{
   color: #233137;
   margin: 26px 0;
   font-size: 13px;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
   font-size: 13px;
}

h6
{
   color: #32464F;
   margin: 35px 0;
   font-size: 11px;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
   font-size: 11px;
}

ul
{
  list-style-type: none;
  margin: 1em 0 1em 2em;
  padding: 0;
}

ol
{
  list-style-position: inside;
  margin: 1em 0 1em 2em;
  padding: 0;
}
/* end Page */

/* begin Box, Post */
a img
{
  border: 0;
}

img
{
  border: solid 0 #BBD6EA;
  margin: 5px;
}

table
{
  border-collapse: collapse;
  margin: 1px;
}

th, td
{
  padding: 2px;
  border: solid 0 #77ADD4;
  vertical-align: top;
  text-align: left;
}

th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostBullets */

li
{
  font-size: 13px;
  color: #000000;
  padding: 0;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

/* end PostBullets */

